
# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment variables / secrets
.env
.env.*

# IDE
.vscode/

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# OS
.DS_Store
Thumbs.db

# Local sensitive files
password.txt